.App {
  text-align: center;
  display: flex;
  height: 100%;
}

html, body{
  width: 100%;
  height: 100%;
}

#root{
  height: 100%;
}

.content {
  width: 100%;
}

.side {
  border-right: 1px solid #DCDCDC;
  height: 100%;
}

.contentt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}